.stage {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.stage-go-dark-active {
  transition: background-color 225ms;
}

.stage-go-light-active {
  transition: background-color 125ms;
}

.stage-cell {
  height: 100%;
  margin-right: 10px;
  width: 100%;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
