.stage {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  //background: #000;
}

.stage-cell {
  background: #000;
  height: 100%;
  margin-right: 10px;
  width: 100%;

  img {
    background-color: #fff;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
