.shift {
  position: absolute;
  overflow: hidden;

  //box-shadow: 0 0 0px 4px red;
  //background-color: rebeccapurple;
}

@keyframes pop-frames {
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.shift-pop {
  animation: pop-frames 220ms;
}
