@import "~normalize.css/normalize.css";
@import "~flickity/dist/flickity.css";

/* TODO(anzorbalkar): Maybe can delete this since normalize has been added. */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#transition-image {
  display: none;
  background: red;
  position: absolute;
  background-repeat: no-repeat;
  background-clip: content-box;
  animation-fill-mode: forwards, forwards;
}
